@import "vars";
.team {
  background-image: url(../img/team-fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 713px;
  padding: 62px 0px 70px;
  text-align: center;
  color: #fff;
  margin-bottom: 65px;
}
.team__title {
  font-family: $play;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1.1px;
  margin-bottom: 11px;
}
.team__text {
  font-family: $play;
  letter-spacing: 1px;
  margin-bottom: 69px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -20px;
    background-color: #655d81;
  }
}
.team__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 66px;
}
.team__item {
  border: 1px solid #747388;
  img {
    padding-bottom: 12px;
  }
}
.team__item-name {
  font-weight: 900;
  letter-spacing: 0.7px;
  padding-bottom: 8px;
}
.team__item-work {
  margin-bottom: 24px;
  font-size: 13px;
  color: #fafafa;
  opacity: 0.7;
  font-weight: 300;
}
.team__us {
  font-weight: 300;
  letter-spacing: 0.7px;
  color: #f3f3f3;
  margin-bottom: 25px;
}
